.favouritesIcon-large {
	color: $golden;
	cursor: pointer;
	filter: drop-shadow(1px 1px 5px $goldenLight);
	width: 40px;
	height: auto;
	transition: 0.2s ease;

	--fa-animation-duration: 2s;
	&:hover {
		color: $goldenLight;
	}
	@media (max-width: 768px) {
		width: 1.875rem;
		--fa-animation-duration: 3s;
	}
	@media (max-width: 576px) {
		width: 1.675rem;
	}
}
.favouriteMainIcon-block {
	display: block;
	text-align: center;
	position: fixed;
	bottom: 65px;
	right: 40px;
	z-index: 999;
	@media (max-width: 769px) {
		font-size: 13px;
		top: 43px;
		bottom: auto;
		right: 90px;
	}

	&__title {
		font-size: 14px;
		@media (max-width: 768px) {
			display: none;
		}
	}
	&-icon {
		cursor: pointer;
		&__count {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			color: $darkGreen;

			top: 17%;
			left: 0;
			right: 0;
			text-align: center;
		}
	}
}

// favouriteSummary section

.favourites-summary-main-title {
	padding-top: 30px;
	text-align: center;
	font-size: 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba($mainGrey, 0.5);
	@media (max-width: 769px) {
		padding-top: 110px;
	}
}
.favourites {
	position: relative;
	background: $bonesWhite;
	min-height: 100vh;
	&-summary {
		padding: 30px 30px;
	}

	&-empty {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&-descr {
			margin-top: 1.5rem;
			align-items: center;
			display: flex;
			justify-content: center;
			&:hover {
				color: $mainGrey;
			}

			&__link {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 7px;
				transition: 0.2s ease;
				&:hover {
					gap: 12px;
				}
			}
		}
		.favourites-summary-block__title {
			text-align: center;
		}
	}
}

.favourites-summary {
	&-mainblock {
		display: flex;
		justify-content: baseline;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px;
		margin-top: 60px;
		@media (max-width: 1200px) {
			justify-content: center;
		}
	}
	&-block {
		position: relative;
		width: 320px;
		height: 400px;
		padding: 30px;
		filter: drop-shadow(2px 2px 10px $greenHaki);
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: rgba($greenHaki, 0.2);
		border-radius: 20px;
		transition: 0.2s ease;
		@media (max-width: 769px) {
			width: 280px;
			height: 360px;
		}

		&:hover {
			background: rgba(#63973a, 0.3);
		}
		&__title {
			margin-top: 15px;
			font-size: 18px;
		}
		&__subtitle {
			color: $bonesWhite;
			font-weight: 400;
		}
		&__price {
			font-weight: 400;
			color: $goldenLight;
		}
		&__descrBlock {
			display: flex;
			gap: 10px;
			flex-direction: column;
			margin-top: 50px;
			border-top: 1px solid $darkGreen;
		}
		&__img {
			display: block;
			max-height: 160px;
			max-width: 140px;
			width: max-content;
			border-radius: 10px;
		}
	}
}

.favourites-main-titleBlock {
	position: relative;
	@media (max-width: 769px) {
		display: block;
		margin: 0 auto;
		.favourites-arrow_postion {
			position: absolute;
			top: 100px;
			left: 5px;
		}
	}
}

.favourites-noMatches {
	margin: 0 auto;
	text-align: center;
	&__descr {
		color: $darkGreen;
		font-size: 1.2rem;
	}
}
