.cart-container {
  padding: 2rem 4rem;

  h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
  }
  .titles {
    margin: 2rem 0 1rem 0;

    h4 {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .product-title {
      padding-left: 0.5rem;
    }
    .total {
      padding-right: 0.5rem;
      justify-self: right;
    }
  }
}
.cart-items {
  @media (max-width: 998px) {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
  @media (max-width: 998px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    h3 {
      display: none;
    }
  }
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
  .cart-product {
    display: flex;
    @media (max-width: 998px) {
      text-align: left;
      display: block;
    }

    &__title {
      font-weight: 600;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    img {
      width: 100px;
      max-width: 100%;
      margin-right: 1rem;
    }

    button {
      border: 1px solid rgba(128, 128, 128, 0.4);
      border-radius: 100px;
      outline: none;
      margin-top: 0.9rem;
      cursor: pointer;
      background: $bonesWhite;
      color: $darkGreen;
      transition: 0.1s ease all;
      filter: drop-shadow(1px 2px 1px $mainGrey);
      box-shadow: 0px 0px 1px $mainGrey;
      padding: 5px;
      &:hover {
        background: $mainGrey;
        color: $bonesWhite;
      }
      &:active {
        background: $darkGreen;
        color: $bonesWhite;
      }
    }
    &-quantity {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 130px;
      max-width: 100%;
      border: 0.5px solid rgb(177, 177, 177);
      border-radius: 5px;
      button {
        border: none;
        outline: none;
        background: none;
        padding: 0.7rem 1.5rem;
        cursor: pointer;
      }
      .count {
        padding: 0.7rem 0;
      }
    }
    &-total-price {
      justify-self: right;
      padding-right: 0.5rem;
      font-weight: 700;
    }
  }
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
  @media (max-width: 568px) {
    flex-wrap: wrap;
    gap: 35px;
    justify-content: flex-start;
  }

  .clear-cart {
    width: 130px;
    max-width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: none;
    outline: none;
    color: gray;
    background: $bonesWhite;
    box-shadow: 1px 1px 2px $mainGrey;
    cursor: pointer;
    &:hover {
      transition: 0.1s ease all;
      color: $darkGreen;
      background: rgb(236, 236, 236);
    }
  }
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
  @media (max-width: 568px) {
    display: block;
    width: 100%;
    margin: 0 0 0 auto;
  }
  .subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    .amount {
      font-weight: 700;
    }
  }
  p {
    font-size: 14px;
    font-weight: 200;
    margin: 0.5rem 0;
  }
  button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    background: #588535;
    color: white;
    letter-spacing: 1.15px;
    box-shadow: 0 3px #46662d;
    filter: drop-shadow(1px 1px 2px #46662d);
    transition: 0.05s ease all;
    &:hover {
      background: #669a3e;
    }
    &:active {
      background: #4d7033;
    }
  }
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
  a {
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;
    span {
      margin-left: 0.5rem;
    }
  }
  &:hover {
    transition: 0.2s ease;
    svg {
      animation: arrowTransform 1s ease;
      color: $darkGreen;
    }
  }
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 568px) {
    margin: 40% auto;
  }
  &__title {
    font-weight: 600;
  }
}
@keyframes arrowTransform {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.continue-shopping__link {
  color: $mainGrey;
}
.continue-shopping__descr {
  font-weight: 500;
  font-size: 22px;
  transition: 0.2s ease;
  &:hover {
    color: $darkGreen;
  }
}
.cart-container__title {
  font-weight: 600;
  color: $mainGrey;
}
