.latestPost {
	&-section {
		min-height: 600px;
	}

	&-date {
		position: relative;
		bottom: 34px;
		max-width: 100px;
		border-radius: 0 10px 0 0;
		width: 100%;
		min-height: 34px;
		background-color: $greenHaki;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
		color: #ffffff;
	}
	&-link {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #588535;
		opacity: 0.8;
		transition: 0.3s ease;

		margin: -10px 0 0 8px;
		&:hover {
			padding: 7px 20px;
			background-color: rgba($mainGrey, 0.2);
			border-radius: 10px;
		}
	}
	&-block {
		width: 375px;
		position: relative;
		margin-top: 40px;
		&:hover {
			cursor: pointer;
		}
		&-image {
			position: relative;
		}
	}
}
.swiper-slide img {
	max-height: 200px;
}
