.userReviews-section {
	position: relative;
	padding: 0 30px;
	height: 600px;
}
.userReviewsCarousel-block {
	padding: 20px;
	max-width: 487px;
	min-height: 276px;
	background: #ffffff;
	box-shadow: 5px 10px 30px rgba(22, 0, 86, 0.06);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	margin-top: 90px;
	cursor: pointer;
	@media (min-width: 998px) {
		&:hover {
			transition: 0.3s ease;
			padding-bottom: 60px;
			.userReviewsCarousel-block-second {
				background: rgba(88, 133, 53, 0.2);
				box-shadow: 5px 10px 30px rgba(22, 0, 86, 0.06);
				border-radius: 10px;
			}
			background: $greenHaki;
			* {
				transition: 0.3s ease;
				color: #fff;
				border: #fff !important;
			}
		}
	}
	@media (max-width: 480px) {
		max-width: 320px;
		.userReviewsCarousel-block-second {
			max-width: 270px;
		}
	}

	.userReviewsCarousel-block-second {
		position: absolute;
		bottom: -15px;
		z-index: -2;
		width: 447px;
		height: 276px;
		background: #ffffff;
		box-shadow: 5px 10px 30px rgba(22, 0, 86, 0.06);
		border-radius: 10px;
	}

	&__icon {
		margin-top: -70px;
		max-width: 100px !important;
		width: 100%;
		height: auto !important;
		border-radius: 100px !important;
		border: 3px solid $greenHaki !important;
	}
	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: #22271c;
	}
	&__subtitle {
		font-size: 16px;
		line-height: 24px;
		color: $mainGrey;
	}
	&__description {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #777a73;
	}
}
.swiper-wrapper {
	padding-bottom: 40px;
}
