.section-header {
	position: relative;
	padding: 52px 15px;
	background: $bonesWhite;
	height: 134px;
	position: relative;
	@media (max-width: 768px) {
		position: fixed;
		z-index: 999;
		width: 100vw;
		height: 10vh;
		border-radius: 10px;
		box-shadow: 2px 2px 8px rgba($darkGreen, 0.5);
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 768px) {
		position: relative;
		top: -10px;
	}
}
.header-nav {
	display: flex;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	gap: 54px;
	@media (max-width: 992px) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: $mainGrey;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 2;
	}
}
.header-right-block {
	position: relative;
	display: flex;
	align-items: center;
	gap: 34px;
	transition: 0.2s ease all;
	&:hover {
		cursor: pointer;
	}
}
.header-nav__li {
	color: $mainGrey;
	transition: 0.3s ease all;
	@media (max-width: 992px) {
		color: $bonesWhite;
	}
	&:hover {
		color: $greenHaki;
	}
}

.header-search-input {
	border: none;
	border-radius: 20px;
	padding: 10px;
	outline: none;
}
input::placeholder {
	color: $mainGrey;
}

.burger-menu {
	position: relative;
	transform: translateX(-50%);
	span {
		transition: 0.3s ease all;
		&:nth-child(1) {
			margin-top: 0;
			display: block;
			width: 27px;
			height: 3px;
			background-color: $mainGrey;
		}
		&:nth-child(2) {
			display: block;
			margin-top: 5px;
			width: 20px;
			height: 3px;
			background-color: $mainGrey;
		}
		&:nth-child(3) {
			margin-top: 5px;
			display: block;
			width: 27px;
			height: 3px;
			background-color: $mainGrey;
		}
	}
}

.burger-menu.active {
	position: fixed;
	right: 15px;
	top: 70px;
	z-index: 10;
	@media (max-width: 769px) {
		top: 57px;
	}
	span {
		transition: 0.3s ease all;
		&:nth-child(1) {
			transform: rotate(45deg);
			background-color: $bonesWhite;
		}
		&:nth-child(2) {
			display: none;
			background-color: $bonesWhite;
		}
		&:nth-child(3) {
			transform: translate(0%, -275%) rotate(-45deg);
			background-color: $bonesWhite;
		}
	}
}

.header-fixed-nav {
	position: fixed;

	background-color: $mainGrey;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.header-fixed-ul {
	position: relative;
	color: $white;
	z-index: 10;
}

.absolute {
	position: fixed;
	transform: translateX(47px);
	padding-right: 53px;
	top: 130px;
	right: 20px;
	z-index: 100;
}

.user-item {
	transition: 0.2s ease all;
	&:hover {
		fill: $greenHaki;
		stroke: $mainGrey;
		pointer-events: all;
	}
}

.header-logo {
	&:active {
		transform: translateY(1.5px);
	}
}

.cart-icon {
	@media (max-width: 998px) {
		position: fixed;
		left: 25px;
		bottom: 75px;
		z-index: 10;
		@media (max-width: 769px) {
			top: 36px;
			bottom: auto;
			left: auto;
			right: 150px;
		}
	}
}
