.auth-form {
	width: 50vw;
	height: 100vh;
	background-color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	@media (max-width: 998px) {
		height: 100vh;
		background: no-repeat url(../../../assets/authPagePicture.jpg) center;
		background-size: cover;
		margin: 0 auto;
		width: 100vw;
	}
	&__subtitle {
		color: $mainGrey;
	}
	&__form {
		max-width: 360px;
	}
}
