.footer-section {
	position: relative;
	min-height: 512px;
	padding: 0 30px;
	background-color: $bonesWhite;
	margin-top: 90px;
	padding-bottom: 120px;
	&-underground {
		position: absolute;
		padding: 20px;
		min-height: 60px;
		z-index: 999;
		width: 100%;
		bottom: 0;
		right: 0;
		background-color: $darkGreen;

		&-main {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-description {
			color: rgba($white, 0.8);
			span {
				color: $greenHaki;
			}
		}
		&-nav {
			&-ul {
				@media (max-width: 769px) {
					display: none;
				}
				display: flex;
				gap: 30px;
				li {
					color: rgba($white, 0.8);
					&:hover {
						color: $white;
					}
				}
			}
		}
	}
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, auto));
	grid-column-gap: 240px;
	grid-row-gap: 50px;

	align-items: flex-start;
	padding-top: 120px;

	&__item {
		display: grid;
		row-gap: 25px;
		&:first-child {
			row-gap: 40px;
			margin-top: 7px;
		}

		&__title {
			font-weight: 400;
			font-size: 24px;
			line-height: 36px;
			color: $darkGreen;
		}
		&__descr {
			width: 318px;
			font-weight: 400;
			font-size: 16px;
			line-height: 30px;
			color: $mainGrey;
		}

		&__link {
			color: $mainGrey;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			&:hover {
				color: $darkGreen;
			}
		}
		&-icons {
			display: flex;
			gap: 20px;
			align-items: center;
			&__icon {
				display: block;

				&_circle {
					position: relative;
					width: 2.325rem;
					height: 2.325rem;
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 100px;
					background-color: $white;

					&:hover {
						transition: 0.1s ease-in;
						cursor: pointer;
						background-color: rgba($mainGrey, 0.2);
					}
				}
			}
		}
	}
}

.footer_email {
	color: $greenHaki;
}
