.emailForm {
	&-section {
		position: relative;
		background: url(../../assets/send-email-bg.png);
		max-width: 1500px;
		width: 100%;
		height: 449px;
		border-radius: 40px;
		box-shadow: 3px -5px 5px rgba($mainGrey, 0.6);
		margin: 50px auto;
		display: flex;
		justify-content: center;
		align-items: center;
		filter: drop-shadow(5px 5px 10px $mainGrey);
	}
	&-form {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		margin-top: 20px;
		@media (max-width: 992px) {
			flex-direction: column;
			padding: 20px;
			margin: 0;
		}
	}
	&-input {
		margin-left: 20px;
		max-width: 529px;
		width: 100%;
		height: 65px;
		background: $bonesWhite;
		border-radius: 20px 0 0 0;
		border: none;
		outline: none;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		text-align: left;
		padding: 20px 30px;
		color: $mainGrey;
		@media (max-width: 992px) {
			margin: 0;
		}

		&:focus {
			border-radius: 20px;
			transition: 0.2s ease;
			filter: drop-shadow(5px 10px 15px rgba($mainGrey, 0.2));
			box-shadow: 1px 3px 3px rgba($mainGrey, 0.2);
		}
		&:active {
			transform: translateY(2px);
		}
	}
	&-btn {
		background: none !important;
		color: inherit !important;
		border: none !important;
		padding: 0 !important;
		font: inherit !important;
		cursor: pointer !important;
		outline: inherit !important;
		&:hover {
			cursor: pointer;
			background-color: #3d7e41;
			box-shadow: 3px 3px 3px rgba($mainGrey, 0.2);
		}
		&:focus {
			filter: drop-shadow(5px 10px 15px rgba($mainGrey, 0.2));
			box-shadow: 1px 3px 3px rgba($mainGrey, 0.2);
		}
		&:active {
			transform: translateY(2px);
		}
	}
}
