.preplant-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 90px 0 90px;

  margin-top: 120px;
  &__img {
    max-width: 85px;
    height: auto;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &-right {
    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: $darkGreen;
    }
    &__subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $mainGrey;
    }
  }
}
