.plantCollection-section {
  min-height: 1553px;
  margin-top: 120px;
}

.plantCollection-main-descr {
  text-align: center;
  padding: 0 15px;

  &__title {
    font-size: 40px;
    color: $darkGreen;
    font-weight: 700;

    @media (max-width: 576px) {
      font-size: 30px;
    }
  }
  &__subtitle {
    line-height: 55px;
    font-size: 16px;
    color: $mainGrey;
    font-weight: 400;
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }
}

.main-btn__empty_middle {
  border: 1px solid $greenHaki;
  width: 182px;
  height: 60px;
  background-color: transparent;
  color: $greenHaki;
  font-weight: 400;
  font-size: 20px;
  display: block;
  margin: 65px auto;
  border-radius: 10px 0 10px 0;
  transition: 0.2s ease all;
  cursor: pointer;
  &:hover {
    background-color: $greenHaki;
    color: aliceblue;
    border: none;
  }
}
