.plantBiography-section {
	min-height: 630px;
}

.plantBiography-block {
	position: relative;
	margin-top: 20px;
	filter: drop-shadow(12px 4px 4px $mainGrey);
	&__img {
		max-width: 100%;
		width: 488px;
		min-height: 360px;
	}
}

.plantBiography-btn {
	position: absolute;
	bottom: 5%;
	right: 25%;
	width: 150px;
	height: 45px;
	color: $white;
	background: $greenHaki;
	backdrop-filter: blur(25px);
	border: none;
	border-radius: 10px 0px;
	&:hover {
		@media (min-width: 998px) {
			transition: 0.2s ease;
			background-color: #59912f;
			cursor: pointer;
		}
	}
}
.swiper {
	width: 100%;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.swiper-slide img {
	display: block;
	width: 100%;
	max-height: 120px;
	border-radius: 10px;
}

.biographyDetail-section {
	background-image: url('../../assets/sunlight-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;

	&-main {
		display: flex;
		justify-content: space-between;
		gap: 50px;
		align-items: center;
		padding: 200px 30px 0 30px;
		flex-wrap: wrap;
		@media (max-width: 1366px) {
			text-align: center;
			justify-content: center;
		}
	}
	&__img {
		width: calc(100vw * 0.2 + 100px);
		max-width: 100%;
		border-radius: 1rem;
		filter: drop-shadow(10px 10px 20px $bonesWhite);
		height: auto;
		transition: 0.2s ease;
		&:hover {
			filter: drop-shadow(0 20px 40px $bonesWhite);
		}
	}
	&__rightSide {
		display: block;
		width: 900px;
		height: auto;

		&__title {
			font-size: calc(1vw + 1vh + 2vmin);
			color: $bonesWhite;
			line-height: 5rem;

			&-block {
				position: relative;
				display: flex;
				gap: 1.8rem;
				align-items: center;
			}
		}
		&__descr {
			color: $darkGreen;
			filter: contrast(150%);
			font-weight: 400;
			font-size: calc(1rem + (24 - 18) * (100vw - 400px) / (1200 - 400));
			line-height: 2.2rem;
			margin-bottom: 80px;
			max-width: 800px;
			@media (max-width: 1366px) {
				margin: 0 auto 80px;
			}
		}
		&__icon {
			width: 2.8rem;
			height: 2.8rem;
			transition: 0.15s ease;
			&:hover {
				cursor: pointer;
				animation: upAndDown 0.65s ease;
			}
		}
	}
}
.btn_center {
	@media (max-width: 1366px) {
		text-align: -webkit-center;
		margin-bottom: 60px;
	}
}

@keyframes upAndDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}
